@import "vars";
@import "mixins";
@import "vendor/reset";

html {
    font-size: 62.5%;
}

body {
    background-color: #181818;

    line-height: 1.5;
    font-size: 1.4rem;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: $white;

    &.no-scroll {
        overflow: hidden;
    }

    @include breakpoint($tablet-bp) {
        &.show-sidebar {
            overflow: hidden;
        }
    }
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


/* Blocks */
@import "blocks/page";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/burger";
@import "blocks/subnav";
@import "blocks/search";
@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/container";
@import "blocks/profile";
@import "blocks/social";
@import "blocks/btn";
@import "blocks/stories";
@import "blocks/add-post";
@import "blocks/post";
@import "blocks/embed";
@import "blocks/pagination";
@import "blocks/related";
@import "blocks/comments";
@import "blocks/form";
@import "blocks/work";
@import "blocks/cabinet";
@import "blocks/modal";

