.pagination {
    display: flex;
    justify-content: center;
    margin-top: 8rem;

    @include breakpoint($tablet-bp) {
       margin-top: 5rem;
    }
}

.pagination__item {
    margin: 0 0.5rem;
}

.pagination__link {
    display: block;
    width: 4rem;
    height: 4rem;
    background-color: #0D0D0D;

    border-radius: 3px;
    box-shadow: 0 0 10px rgba($black, 0.15);

    font-size: 1.4rem;
    line-height: 4rem;
    color: $white;
    text-align: center;
    text-decoration: none;

    transition: background-color 0.2s linear;

    &:hover {
         background-color: lighten(#0D0D0D, 2%);
    }

    &.active {
        background-color: $blue;
        box-shadow: 0 0 10px rgba($blue, 0.15);
    }
}
