.sidebar {
    width: $sidebar-width;
    height: 100vh;

    background-color: $primary;
    box-shadow: 5px 0 15px rgba(#050505, 0.1);

    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-sidebar;

    @include breakpoint($tablet-bp) {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 4rem);
        padding-bottom: 1.5rem;
        overflow: auto;


        top: 4rem;
        transform: translateX(-100%);

        transition: transform 0.2s linear;

        .show-sidebar & {
            transform: translateX(0);
        }
    }
}
.sidebar__header {
    height: 180px;
    background-color: $secondary;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include breakpoint($tablet-bp) {
        height: 10rem;
    }
}

.sidebar__content {
    padding: 0 2rem;

    @include breakpoint($tablet-bp) {
        flex-grow: 0;
        margin-bottom: 2rem;
    }

}


.sidebar__footer {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
}
