<div class="modal" id="contact-modal">
    <div class="modal__content modal__content--contact">
        <button class="modal__close" type="button">
            <img src="assets/images/close-modal.svg" alt="Закрыть окно">
        </button>
        <ul class="modal__contacts">
            <li>
                email: <a href="mailto:alucadeil@gmail.com">alucadeil@gmail.com</a>
            </li>
            <li>
                тел: <a href="tel:+375298776609">+37529-877-66-09</a>
            </li>
            <li>
                <a href="https://github.com/alucadeil">мой github</a>
            </li>
        </ul>

    </div>
</div>
